---
import Layout from '@/layouts/Layout.astro'
import ProductImages from '@/components/ProductImages.svelte'
import { connection } from '@/lib/db'
import { ObjectId } from 'mongodb'

const { id } = Astro.params;
const db = await connection();
const collection = db.collection('products');
const product = await collection.findOne({ _id: new ObjectId(id) });
---

<Layout>
	<section id="prices" class="overflow-hidden">
		<div class="container mx-auto px-4 lg:px-8 py-6">
			<div class="mb-8 flex items-center space-x-2">
				<a href="/" class="hover:underline">Home</a>
				<span>/</span>
				<a href={`/category/${product.category}`} class="hover:underline">{product.category}</a>
				<span>/</span>
				<div class="text-neutral-600">{product.title}</div>
			</div>
			<div class="grid lg:grid-cols-2 gap-8">
				<ProductImages images={product.images} thumbnails={product.thumbnails} client:idle />
				<div>
					<h1 class="text-4xl font-medium font-cabinet-grotesk">{product.title}</h1>
					<p>{product.description}</p>
					<div >{product.price}</div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-neutral-50">
		<div class="container mx-auto px-4 lg:px-8 py-6">
			<h2 class="text-4xl font-medium font-cabinet-grotesk">Prices</h2>
			<div class="space-y-4 flex flex-col mt-4">
				<div class="border rounded p-4 bg-white">
					<button class="text-white bg-yellow-400 px-4 py-2 rounded">View on Amazon</button>
				</div>
				<div class="border rounded p-4 bg-white">
					<button class="text-white bg-yellow-400 px-4 py-2 rounded">View on Amazon</button>
				</div>
				<div class="border rounded p-4 bg-white">
					<button class="text-white bg-yellow-400 px-4 py-2 rounded">View on Amazon</button>
				</div>
			</div>
		</div>
	</section>
</Layout>